* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /* background-color: tomato; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.container {
  /* background-color: teal; */
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #333;
  padding: 20px 0px 0px;
  text-align: center;
}

.nav-content {
  width: 50%;
}
.nav-content ul {
  list-style-type: none;
}
.nav-content li {
  display: inline-block;
}
.nav-content a {
  color: #fff;
  text-decoration: none;
  padding: 20px 20px;
}
.nav-p {
  width: 20%;
}
.nav-p p {
  color: rgb(255, 48, 91);

  font-size: 25px;
}
.nav-content a:hover {
  color: rgb(255, 48, 91);
}
.section1 {
  background-color: #09c;
  background-image: url(img/slider/slider-01.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.layer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sec1-content {
  text-align: center;
  width: 30%;
}
.sec1-content h1 {
  color: rgb(255, 48, 91);
  font-size: 65px;
}
.sec1-content h3 {
  color: #fff;
  padding: 20px 0;
  font-size: 20px;
}
.sec1-content p {
  color: #fff;
  padding: 10px 0px;
  font-size: 30px;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .sec1-content {
    padding: 50px 50px;
  }
  .sec1-content h1 {
    font-size: 15px;
  }
  .sec1-content p {
    font-size: 12px;
  }
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .sec1-content {
    padding: 50px 50px;
  }
  .sec1-content h1 {
    font-size: 25px;
  }
  .sec1-content p {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .sec1-content {
    padding: 50px 50px;
  }
  .sec1-content h1 {
    font-size: 40px;
  }
  .sec1-content p {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .sec1-content h1 {
    font-size: 50px;
  }
  .sec1-content p {
    font-size: 26px;
  }
}
.section2 {
  /* background-color: #09c; */
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 50px;
}

.sec2-image {
  position: relative;
  border: gray solid 8px;
  margin-left: 50px;
}
.sec2-image img {
  width: 100%;
  transform: translate(20px, 20px);
}
.sec2-contant {
  width: 50%;
  margin-top: 50px;
}
.sec2-contant h3 {
  margin: 10px 0px;
  font-size: 25px;
}
.sec2-contant p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  padding-bottom: 20px;
}
.layer-img1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 360px;
  height: 450px;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.sec2-image :hover {
  opacity: 1;
}
.information {
  margin-top: 30px;

  display: flex;
}
.info1 {
  width: 50%;
}
.info1 ul {
  list-style-type: none;
}
.info1 li {
  display: inline-block;
}
.info2 {
  width: 50%;
}
.info2 ul {
  list-style: none;
}
.info2 li {
  display: inline-block;
}

.sec2-button {
  display: flex;
}
.bt1 a {
  background-color: #ff305b;
  width: 20%;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
}
.bt2 a {
  padding: 10px 20px;
  background-color: rgb(255, 48, 91);
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
}
.section3-color {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px;
}
.section3 {
  display: flex;

  text-align: center;
  padding: 40px 0px;
}
.sec3-header h2 {
  font-size: 40px;
}
.section-color h2 {
  font-size: 40px;
  margin: 30px 0px;
}
.sec3-item {
  padding: 40px 0px;
  transition: background-color 0.8s;
}
.sec3-item h3 {
  padding: 30px 0px;
  font-size: 22px;
}
.sec3-item p {
  font-size: 16px;
}
.sec3-item:hover {
  background-color: white;
}
.section4-color {
  text-align: center;
  background-color: #fff;
}
.section4 {
  margin-top: 40px;
}
.section4 h3 {
  font-size: 40px;
  padding: 40px 0px;
}
.sec4-btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.sec4-item {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.sec4-item img {
  width: 30%;
  padding: 10px 0px;
}
.sec4-layer {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.6);
  width: 370px;
  height: 275px;
  opacity: 0;
  transition: opacity 1s;
  margin-top: 10px;
}
.sec4-layer1 {
  top: 0px;
  left: 0px;
}
.sec4-layer2 {
  top: 0px;
  left: 35%;
}
.sec4-layer3 {
  top: 0px;
  left: 70%;
}

.sec4-layer4 {
  bottom: 10px;
}

.sec4-layer5 {
  bottom: 10px;
  left: 35%;
}
.sec4-layer6 {
  bottom: 10px;
  right: 0px;
}
.sec4-item :hover {
  opacity: 1;
}

.section5 {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec5-header h3 {
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}
.sec5 {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  background-color: #f1f1f1;
  width: 900px;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
}
.sec5-image {
  width: 20%;
  text-align: center;
  padding-top: 20px;
}
.sec5-image img {
  border-radius: 50%;
}
.sec5-content {
  width: 55%;
  text-align: left;
  padding: 50px 10px;
}
.sec5-content h4 {
  padding-bottom: 10px;
  font-size: 20px;
}
.sec5-content p {
  padding: 10px 0px;
  font-size: 18px;
  width: 100%;
}
.sec5-layer {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px 0px;
  background-color: rgb(255, 48, 91);
  opacity: 0;

  transition: opacity 1s;
  margin-bottom: 50px;
}

.sec5-layer-image {
  width: 20%;
  text-align: center;
  padding-top: 20px;
}
.sec5-layer-image img {
  border-radius: 50%;
}
.sec5-layer-content {
  width: 55%;
  text-align: left;
  padding: 50px 10px;
}
.sec5-layer-content h4 {
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
}
.sec5-layer-content p {
  padding: 10px 0px;
  font-size: 18px;
  width: 100%;
  color: #fff;
}
.sec5-layer:hover {
  opacity: 1;
}
.sec6-color {
  margin-top: 50px;
  background-color: #f1f1f1;
  padding: 50px 0px;
}
.sec6-header h2 {
  text-align: center;
  font-size: 40px;
  padding: 50px 0px;
}
.section6 {
  display: flex;

  justify-content: space-between;
}
.sec6-item {
  width: 30%;
  padding: 0px 10px 10px;
  background-color: #fff;
}
.sec6-item p {
  font-size: 17px;
  margin: 0px 0px 15px;
}
.sec6-item a {
  text-decoration: none;
  color: black;
}
.sec6-item h3 {
  margin: 0px 0px 15px;
}

.sec6-item1 img {
  width: 100%;
}
.sec6-item2 iframe {
  width: 100%;
  height: 180px;
}
.sec6-item3 img {
  width: 100%;
}
.section7 {
  margin-top: 50px;
  text-align: center;
}
.sec7-header h3 {
  font-size: 40px;
  margin: 40px 0px;
  padding: 30px 0px;
}
.sec7-info1 {
  display: flex;
  justify-content: center;

  width: 80%;
  margin: auto;
}
.sec7-info1 input {
  padding: 10px;
  padding-right: 140px;
  border-radius: 5px;
  text-align: left;
  margin-left: 50px;
}
.inp3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}
.inp3 input {
  padding: 5px;
  padding-right: 520px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.inp4 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 40px;
}
.inp4 input {
  padding: 10px 10px 50px;
  padding-right: 520px;
  border-radius: 5px;
}
.sec7-bt {
  display: flex;
  border: none;
  display: flex;
  width: 58%;

  justify-content: center;
  margin-top: 50px;
}
.sec7-bt button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgb(255, 48, 91);
  cursor: pointer;
}
